*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
}

div:nth-child(1){
    background: linear-gradient(to top, darkblue, lightblue);
}

div:nth-child(3){
    background: linear-gradient(to top, lightblue, darkblue);
}