*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
}

body > div:nth-child(1){
    background: linear-gradient(to top, darkblue, lightblue);
}

body > div:nth-child(2){
    background: linear-gradient(to top, lightblue, white);
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > div:nth-child(3){
    background: linear-gradient(to top, lightblue, darkblue);
}




main{
    background: none;
    flex: 1;
    width: 100%;
    height: 74dvh;
    padding: 10px;
}

header{
    width: 75%;
    height: 10dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(lightblue, white);
    border-radius: 500px;
    outline: solid lightblue;
}

nav{
    width: 60%;
    height: 8dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: radial-gradient(lightblue, white);
}

footer{
    width: 100%;
    height: 8dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}